@use "vars" as *;
@use "mixin" as *;

.header {
    display: flex;
    justify-content: space-between;
    @include flex(center, center, wrap);
    padding: 50px 0px;
    gap: 50px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 40px;

    input {
        border: 1px solid $input;
        padding: 10px;
        border-radius: 10px;
    }

    .light {
        color: #908F8D;
    }


}

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: 19px;
        padding-bottom: 30px;
    
    a {
        color: $text;

        &:hover {
            color: $span;
        }
    }
}