@use "vars" as *;
@use "mixin" as *;

.header {
    display: flex;
    justify-content: space-between;
    @include flex(center, center, wrap);
    padding: 28px 0px;
    gap: 110px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 28px;

    input {
        border: 1px solid $input;
        padding: 15px 20px;
        border-radius: 4px;
        width: 25%;
    }

    .light {
        color: #908f8d;
        text-align: end;
    }

    &-icon {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $text;

        img {
            width: 20px;
            height: auto;
        }

        .cart__quantity {
            position: absolute;
            top: -6px;
            right: -10px;
            background: $span;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            min-width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        }
    }
}

nav {
    .header__cart.cart {
        &.active {
            color: $span;
            .header-icon {
                color: $span;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: 19px;
        padding-bottom: 10px;

        .nav-link {
            color: $text;
            text-decoration: none;
            transition: 0.3s;

            &.active {
                color: $span;
            }

            &:hover {
                color: $span;
            }
        }
    }
}
