$background: #F9F3EC;
$span: #DEAD6F;
$text: #41403E;
$input: #41403e40;
$light-gray:#EEEBE5;
$background:#F7EEE4;
$gray: #908F8D;

%text-title {
    font-family: "Chilanka", cursive;
        font-weight: 400;
}